<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PrintLabel.My.MySettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <PrintLabel.My.MySettings>
      <setting name="sqlServer" serializeAs="String">
        <value>AI01</value>
      </setting>
      <setting name="sqlDBName" serializeAs="String">
        <value>ROBOTICS_OPTICS</value>
      </setting>
      <setting name="sqlUsername" serializeAs="String">
        <value>robotuser</value>
      </setting>
      <setting name="sqlPassword" serializeAs="String">
        <value>R0b0tik0verlordz</value>
      </setting>
      <setting name="XFP_PrinterAddr" serializeAs="String">
        <value>192.168.1.126</value>
      </setting>
      <setting name="SFP_PrinterAddr" serializeAs="String">
        <value>192.168.1.127</value>
      </setting>
      <setting name="Clamshell_PrinterAddr" serializeAs="String">
        <value>192.168.1.128</value>
      </setting>
      <setting name="ShippingA_PrinterAddr" serializeAs="String">
        <value>192.168.1.129</value>
      </setting>
      <setting name="ShippingM_PrinterAddr" serializeAs="String">
        <value>192.168.1.238</value>
      </setting>
      <setting name="XFP_Horizontal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XFP_Vertical" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XFP_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XFP_Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SFP_Horizontal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SFP_Vertical" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SFP_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SFP_Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Clamshell_Vertical" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Clamshell_Horizontal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Clamshell_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Clamshell_Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingA_Vertical" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingA_Horizontal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingA_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingA_Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingM_Vertical" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingM_Horizontal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingM_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShippingM_Rotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConnStr" serializeAs="String">
        <value />
      </setting>
    </PrintLabel.My.MySettings>
  </userSettings>
</configuration>